/* General link styles */
.menu ul li {
  appearance: none !important;
  background: transparent !important;
}
.menu a {
  position: relative;

  transition: color 0.3s ease-in-out;
}

/* Hover effect */
.menu a:hover {
  color: rgb(19, 100, 255); /* Customize this hover color */
  background-color: transparent !important;
}

/* Active link styles */
.menu a.active {
  color: #4007de !important;
  outline: none;
  background: transparent !important;
  appearance: none !important;
}

/* Add the underline effect using ::before */
.menu a::before {
  content: "";
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 0;
  height: 2px;
  background: #4007de;
  transition: width 0.3s ease-in-out;
}

/* Show the underline when the link is active */
.menu a.active::before {
  width: 100%;
  animation: makeAnimation 1s ease-in-out forwards;
}

/* Animation for the underline */
@keyframes makeAnimation {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}
